section:first-child h4{
    color: blue;
}
section{
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}
section:nth-child(2){
    border-bottom: solid 5px red;
}
section:nth-child(3) h3,section:nth-child(3) li{
    color: red;
}
section:nth-child(4) a{
    font-size: 25px;
}
section:nth-child(5) h3+span{
    color: blue;
}
section:nth-child(6) img{
    border-radius: 50%;
    border: 1px solid black;
}
section:nth-child(7) p:hover{
    color: green;
}